.opr .btn-row{
    display: flex;
    flex-direction: column;

}

.btn  {
    background-color: #ff9f0b;
    border: 0.5px solid #313131;
    color: white;
    height: 24px;
    width: 24px;

}

.opr .btn:active{
 
 
}

.btnnums {
    background-color: #636363;
    border: 0.5px solid #313131;
    color: white;
    height: 24px;
    width: 24px;

}

.btnbtm {
    background-color: #636363;
    border: 0.5px solid #313131;
    color: white;
    height: 24px;
    width: 24px;
}

