.results{
  position: relative;
}
input{
    width : 91px;
    height: 30px;
    color: white;
    margin-top: 10%;
    background-color: #313131;
    text-align: right;
    border: 0.5px solid #313131 ;
    border-radius: 5px 5px 0 0;
    font-size: 20pt;
    font-weight: 100;
    justify-content: center;
    margin-left: 152px;
    z-index:-1;
}

/* input[type="number"]{  
    text-align: right; 
    color: black;
    width: 24px;
    height: 24px;
}  */

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
.red {
  border-radius: 50%;
  background-color: #fe5a51;
  height: 4px;
  width: 4px;
  margin-left: 160px;
  z-index: 1;
  position: absolute;
  margin-top: 11%;
}

.yellow {
  border-radius: 50%;
  background-color: #e5c028;
  height: 4px;
  width: 4px;
  margin-left: 166px;
  z-index: 1;
  position: absolute;
  margin-top: 11%;

}

.green {
  border-radius: 50%;
  background-color: #53c22b;
  height: 4px;
  width: 4px;
  margin-left: 172px;
  z-index: 1;
  position: absolute;
  margin-top: 11%;

}
